#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li h4 {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block;
  float: left
}

#myMenu li h4:hover {
  background-color: #eee
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
