.container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

#searchbar {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    box-sizing: border-box;
}

#mod-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.incredibox-mod {
    font-size: 1.2em;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    animation: fadeIn 0.5s ease-in-out;
}

.incredibox-mod:last-child {
    border-bottom: none;
}

ul {
    color: cyan;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
