.music-img {
        width: 100px;
        border-radius: 50px;
        float: left;
        margin-right: 15px;
}
.music {
        font-weight: bold;
}
em {
        color: cyan;
        font-style: normal;
}
